.Footer {
    display: flex;
    padding-top: 32px;
    padding-left: 60px;
    padding-right: 60px;
    height: auto;
    justify-content: space-between;
    background-color: #FB9016;
    color: white;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}


#whatsapp, #instagram, #facebook {
    width: 24px;
    height: 24px; 
    fill: white;
    margin: 8px;
}