



/* Sidebar.css */
.sidebar {
  /* height: 100%; */
  width: 250px;
  /* background-color: ; */
  color: #FB9016;
  transition: width 0.3s ease;
  overflow: hidden;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);

}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  /* background-color: #FFB257; */
}

.sidebar-header h2 {
  margin: 0;
  font-size: 1.5em;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  padding: 15px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebar-menu li:hover {
  background-color: #FFB257;
}

.sidebar-menu li:active {
  background-color: #1abc9c;
}

.sidebar-menu li + li {
  border-top: 1px solid #FFB257;
}

.sidebar-menu a {
  color: #FB9016;
  text-decoration: none;
  display: block;
}

.sidebar-menu a:hover {
  color: #1abc9c;
}