.Information {
    display: block;
    max-width: 100%;
    box-sizing: border-box;
}

.Information > div {
    margin-bottom: 64px; 
}

.Part1 {
    margin-left: 32px;
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-around;
    align-items: center; 
}

.Part1 img {
    max-width: 500px;
    height: auto;
    flex: 1 1 auto;
}

.Features {
    text-align: center;
    margin: 32px;
}

.FeaturesItems {
    display: flex;
    justify-content: space-around;
    padding-top: 16px;
}

#TextPart1 {
    min-width: 600px;
    text-align: center;
}

button.ButtonColor {
    margin: 0 auto;
}

