/* login.css */
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
  
.wrapper form {
  width: 100%;
  max-width: 380px;
  background: white;
  padding: 60px 40px; 
  min-height: 380px; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
  
.wrapper .input-box {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
  
.wrapper .input-box input {
  width: 100%;
  padding: 14px;
  padding-left: 30px; /* Espacio para el icono al principio */
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 5px;
}

.wrapper .input-box .icon {
  position: absolute;
  left: 10px; /* Mueve el icono a la izquierda dentro del input */
  top: 45%;
  transform: translateY(-50%);
  font-size: 16px;
}

.wrapper .error-message {
  color: red;
  margin-bottom: 10px;
}

.wrapper button {
  width: 100%;
  padding: 10px;
  background-color: #FB9016;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
}

.wrapper button:hover {
  background-color: #d37000;
}

.wrapper .register-link {
  display: block;
  text-align: center;
  background: none;
  border: none;
  color: #FB9016;
  cursor: pointer;
  text-decoration: underline;
}
  
.iconoLogin{
  display: block;
  margin: 0 auto 20px auto; 
  width: 80px;
}

.bienvenida{
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 35px;
  margin-top: 40px;
}

.wrapper .input-box input:focus {
  border-color: #FB9016; 
  border-width: 1.6px;
  outline: none; 
}

.wrapper .input-box .toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
  font-size: 16px;
}