.Navbar {
    display: flex;
    align-items: center;
    color: black;
    background-color: white;
    border-bottom-left-radius: 32px; 
    border-bottom-right-radius: 32px; 
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    justify-content: space-between;
    gap: 16px;
    height: 80px; 
    padding-left: 30px; 
    padding-right: 30px; 
}

.TitleIcono {
    display: flex;
    align-items: center;
    gap: 16px;
}

.IconoHR {
    width: 50px;
    height: auto;
    margin-left: 24px;
}

.Options {
    display: inline-flex;
    justify-content: space-between;
    width: auto;
    height: 100%;
    gap: 40px;
    align-items: center;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 24px;
}

.Options a {
    text-decoration: none;
    color: black;
    font-size: 2vh;
}

.Options a.active {
    border-bottom: 2px solid #FB9016; 
    padding-bottom: 5px;
}
